header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7c5e99;
  padding: 10px 20px;
  border-bottom: 10px solid #000;
}
h1 {
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
  text-shadow: 5px 5px 0 #000000;
  margin-left: 30px;
}
nav {
  text-align: right;
}
a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}
a::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(242, 90, 112);
  margin-right: 10px;
}

#button {
  background-color: #f25a70;
  display: inline-block;
  padding: 18px 20px;
  box-shadow: 5px 5px 0 #000000;
  margin-right: 0;
  transition: transform 100ms linear;
}
#button:hover {
  background-color: #f25a71b4;
  transform: scale(1.08);
  background-size: 100%;
}
/* Main content start */
.main-content {
  background: url(../assets/img/headphones.jpg) no-repeat;
  background-size: 100vw;
  height: 800px;
}
.about-me {
  display: inline-block;
  background-color: #3a4042;
  box-shadow: 5px 5px 0 #000000;
  margin-top: 116px;
  margin-left: 91px;
}
.about-me h1 {
  padding-top: 52px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.about-me h2 {
  padding-bottom: 40px;
  padding-left: 40px;
}

.btn-main-content {
  margin-left: 181px;
  margin-top: 38px;
}
.btn {
  background-color: #f25a70;
  display: inline-block;
  padding: 18px 20px;
  box-shadow: 5px 5px 0 #000000;
  margin-right: 0;
  transition: transform 100ms linear;
  margin-right: 112px;
}
.btn:hover {
  background-color: #f25a71b4;
  transform: scale(1.08);
}
