.box {
  display: inline-block;
  background-color: #3a4042;
  box-shadow: 10px 10px 0 #000000;
  text-align: center;
  padding: 40px 44px;
}
.box .title {
  padding-bottom: 20px;
}
.box .main-title {
  margin-bottom: 15px;
}
