.projects-logos {
  display: flex;
  justify-content: center;
}
.projects-logos .logo {
  background-color: #7c5e99;
  box-sizing: border-box;
  width: 280px;
  height: 280px;
  padding: 20px;
  box-shadow: 10px 10px 0px #ffffff;
  transition: transform 100ms linear;
}
.projects-logos.-bgBlue .logo {
  background-color: #4c5b84;
}

.projects-logos.-bgPink .logo {
  background-color: #f25a70;
}

.projects-logos .logo:hover {
  transform: scale(1.08);
  background-size: 100%;
}
.projects-logos a {
  cursor: pointer;
}
