.title {
  font-family: "Press Start 2P", sans-serif;
  color: #f25a70;
  font-size: 40px;
  line-height: 40px;
  text-shadow: 4px 4px 0px #000000;
}

.title.-second {
  color: #fff;
  text-shadow: none;
  text-align: center;
}
